[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "nvim"]
	path = nvim
	url = https://github.com/hurricanehrndz/nvim
[submodule "config/zsh/zprezto"]
	path = config/zsh/zprezto
	url = https://github.com/sorin-ionescu/prezto
