fonts/fonts.dir
.uuid

# zdotdir
config/zsh/.zhistory
config/zsh/.zsh_history
config/zsh/.zcompdump
config/zsh/.zcompcache

# gnupg
pubring.*
random_seed
reader_0.status
reader_1.status
trustdb.gpg
crls.d
private-keys-v1.d

# direnv
config/direnv/allow/
