[Unit]
Description="Run fzf install"

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=%h/.local/share/sheldon/repos/github.com/junegunn/fzf/install --bin
ExecStopPost=/usr/bin/mv                                        \
  %h/.local/share/sheldon/repos/github.com/junegunn/fzf/bin/fzf \
  %h/.local/bin/
